---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
		<!-- <Header />
		<Footer /> -->
	</body>
</html>

<style>
	:root {
		color-scheme: light dark;
	}
	
	html{
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	
	body {
		background-color: #ffd7e3;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
